body {
    background-color: #f3f3f3;
    }

h1 {
  color: #538ab1;
  }

h3 {
   color: #354d68;
   }

#iskanje {
    width: 200px;
    height: 30px;
}

.violet {
        color: #be68be;
        border: 3px blue solid;
        }

.category {
        font-size: 20px;
        font-family: Times New Roman;
        color: blue;
}

.red {
   color: red;
}

.image {
      border: 6px blue dotted;
      padding: 5px;
}


.image:hover {
  border: 10px blue solid;
}

.green {
       color: green;
}